## .gitignore
## IS 601 Midterm
## Evan Garvey

## Ignore venv. The user must implement themselves

venv/

## Ignore .env as that is good practice

.env

## Ignore log as that shouldn't be shared

calculator.log
logs/calculator.log

## ignore any test csvs

## test_history.csv is not used anymore. commented out

## Ignore coverage

.coverage

## Ignore test history file

test_history/*
